In [6]:
!pip install bs4
#!pip install requests

Requirement already satisfied: bs4 in c:\users\negi\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\negi\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\negi\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [7]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [5]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [6]:
soup = BeautifulSoup(html, 'html5lib')

In [7]:
soup

<!DOCTYPE html>
<html><head><title>Page Title</title></head><body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>

In [8]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [9]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

In [10]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [11]:
tag_object=soup.h3
tag_object

In [12]:
tag_child =tag_object.b
tag_child

In [13]:
parent_tag=tag_child.parent
parent_tag

In [14]:
tag_object

In [15]:
tag_object.parent

In [16]:
sibling_1=tag_object.next_sibling
sibling_1

In [17]:
sibling_2=sibling_1.next_sibling
sibling_2

In [18]:
salary = sibling_2.next_sibling
salary

In [19]:
tag_child['id']

'boldest'

In [20]:
tag_child.attrs

{'id': 'boldest'}

In [21]:
tag_child.get('id')

'boldest'

In [22]:
tag_string=tag_child.string
tag_string

'Lebron James'

In [23]:
tag_child

In [24]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [25]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [26]:
table_bs = BeautifulSoup(table, 'html5lib')

In [27]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

In [28]:
first_row =table_rows[0]
first_row

In [29]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [30]:
first_row.td

In [31]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

In [32]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

In [33]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

In [34]:
table_bs.find_all(id="flight")

In [35]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [36]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [37]:
table_bs.find_all(href=False)

[<html><head></head><body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body></html>,
 <head></head>,
 <body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body>,
 <table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table>,
 <tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <a> </a>,
 <td>80 kg</td>]

In [40]:
soup.find_all(id="boldest")

In [41]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

In [42]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [43]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [44]:
two_tables_bs = BeautifulSoup(two_tables, 'html.parser')

In [45]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [46]:
two_tables_bs.find("table", class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [49]:
url = "http://www.ibm.com"

In [51]:
data = requests.get(url).text

url2 = "http://https://fantasy.premierleague.com"

In [52]:
url2 = "http://https://fantasy.premierleague.com"

In [53]:
data2 = requests.get(url).text

In [54]:
soup = BeautifulSoup(data, "html5lib")

In [57]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://www.ibm.com/in/en
https://www.ibm.com/sitemap/in/en
/in-en/security/zero-trust
/in-en/about
https://www.ibm.com/downloads/cas/YW89KW7E?lnk=inhpv11
https://developer.ibm.com/callforcode/?utm_medium=OSocial&utm_source=Blog&utm_content=000031SE&utm_term=10008401&utm_id=Homepage-inside
https://www.ibm.com/blogs/journey-to-ai/2021/03/ibm-is-named-a-leader-2021-magic-quadrant-for-data-science-and-machine-learning-platforms/
/in-en/events/cloud-podcasts
https://www.ibm.com/account/reg/signup?formid=urx-49364
https://www.ibm.com/training/cloud?lnk=inhpv2
/in-en/products/offers-and-discounts
/in-en/cloud/free
https://www.ibm.com/account/reg/signup?formid=urx-46597&lnk=STW_IN_HP_T2_BLK&psrc=NONE&pexp=DEF&lnk2=trial_RoboticProcess
/in-en/products/cloud-pak-for-data
/products/digital-learning-subscription/pricing?lnk=STW_IN_HP_T5_BLK&psrc=NONE&pexp=DEF&lnk2=trial_training
/in-en/security/identity-access-management/cloud-identity
/in-en/cloud/aspera
https://developer.ibm.com/depmodels/cloud/?lnk=hpv18ct16
https://developer.ibm.com/technologies/artificial-intelligence?lnk=hpv18ct19
https://www.ibm.com/demos/?lnk=hpv18ct12
https://developer.ibm.com/?lnk=hpv18ct9
https://www.ibm.com/docs/en?lnk=hpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www.ibm.com/support/home/?lnk=hpv18ct11
https://www.ibm.com/training/?lnk=hpv18ct15
/in-en/cloud/hybrid?lnk=inhpv18pt1
/cloud/learn/public-cloud?lnk=inhpv18pt2
/in-en/watson?lnk=inhpv18pt3
/in-en/garage?lnk=inhpv18pt4
/in-en/blockchain?lnk=inhpv18pt5
https://www.ibm.com/thought-leadership/institute-business-value/?lnk=inhpv18pt6
/in-en/analytics?lnk=inhpv18pt7
/in-en/security?lnk=inhpv18pt8
/in-en/financing?lnk=inhpv18pt9
/in-en/cloud/redhat?lnk=hpv18ct1
/in-en/cloud/automation?lnk=hpv18ct2
/in-en/cloud/satellite?lnk=hpv18ct3
/in-en/it-infrastructure?lnk=hpv18ct4
https://www.ibm.com/quantum-computing?lnk=hpv18ct5
/in-en/cloud/learn/kubernetes?lnk=ushpv18ct8?lnk=hpv18ct6
/in-en/products/spss-statistics?lnk=ushpv18ct7
/in-en/blockchain?lnk=hpv18ct8
https://www.ibm.com/in-en/employment?lnk=hpv18ct2
https://www.ibm.com/case-studies/federal-bank/?lnk=hpv18cs1
/case-studies/search?lnk=hpv18cs2
#

In [60]:
for link in soup.find_all('img'):
    print(link)
    print(link.get('src'))

<img alt="A woman wearing mask while working" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-05-26/Small-rbf07708.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-05-26/Small-rbf07708.jpg
<img alt="a green field" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-05-02/Original-CFC-444x320%20%281%29.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-05-02/Original-CFC-444x320%20%281%29.jpg
<img alt="A leader climbing stairs" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-03-26/cc%20%281%29.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-03-26/cc%20%281%29.jpg
<img alt="a mic for recording" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-03-26/Logo-Lockup-444-w-x-320h-px.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-03-26/Logo-Lockup-444-w-x-320h-px.jpg
<img alt="night view of the earth" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-03-26/20210301-xforce-threat-intelligence-444x320%20%281%29.png"/>
//1.cms.s81c.com/sites/default/files/2021-03-26/20210301-xforce-threat-intelligence-444x320%20%281%29.png
<img alt="A woman with a laptop" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-30/cq5dam.web_.1280.1280.jpeg"/>
//1.cms.s81c.com/sites/default/files/2021-04-30/cq5dam.web_.1280.1280.jpeg
<img alt="screenshot of the IBM Cloud dashboard" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-07/ibm-cloud-trial.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-07/ibm-cloud-trial.png
<img alt="Screenshot of IBM RPA" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-09/robotic-process-automation.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-09/robotic-process-automation.png
<img alt="Cloud pak for data screenshot" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-07/cloud-pak-for-data-trial.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-07/cloud-pak-for-data-trial.png
<img alt="Screenshot of learning subscription" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-30/Digital-Learning-Subscription-trial.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-30/Digital-Learning-Subscription-trial.png
<img alt="screenshot of security-verify-trial" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-27/security-verify-trial%20%281%29.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-27/security-verify-trial%20%281%29.png
<img alt="screenshot of IBM aspera" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-27/Aspera-on-Cloud-19783-700x420.png"/>
//1.cms.s81c.com/sites/default/files/2021-04-27/Aspera-on-Cloud-19783-700x420.png

In [4]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [8]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [9]:
soup = BeautifulSoup(data,"html5lib")

In [10]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [12]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

In [13]:
cols

[<td>32</td>,
 <td style="background:dodgerblue;"> </td>,
 <td>dodgerblue</td>,
 <td>#1E90FF</td>,
 <td>rgb(30,144,255)</td>]

In [14]:
cols[0]

In [15]:
cols[1]

In [16]:
cols[2]

In [17]:
import pandas as pd

In [39]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

In [76]:
url2 = "https://www.premierleague.com/stats/top/clubs/wins?se=363"
data2 = requests.get(url2).text
soup2 = BeautifulSoup(data2,"html5lib")
tables2 = soup2.find_all('table')

In [77]:
len(tables2)

1

In [78]:
tables2

[<table>

         <thead>
           <tr>
             <th class="rank" scope="col">Rank</th>
             <th scope="col">Club</th>
             <th class="mainStat text-centre" scope="col">Stat</th>
             <th class="order">
               <span class="reorderStatsButton">
                 <span class="icn sort"></span>
               </span>
             </th>
           </tr>
         </thead>
         <tbody class="statsTableContainer">

   <tr class="">
     <td>1.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/12/Manchester-United/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t1.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t1@x2.png 2x"/>
 		</span>
       Manchester United</a>
     </td>
     <td class="mainStat text-centre">687</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>2.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/1/Arsenal/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t3.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t3@x2.png 2x"/>
 		</span>
       Arsenal</a>
     </td>
     <td class="mainStat text-centre">597</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>2.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/4/Chelsea/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t8.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t8@x2.png 2x"/>
 		</span>
       Chelsea</a>
     </td>
     <td class="mainStat text-centre">597</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>4.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/10/Liverpool/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t14.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t14@x2.png 2x"/>
 		</span>
       Liverpool</a>
     </td>
     <td class="mainStat text-centre">581</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>5.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/21/Tottenham-Hotspur/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t6.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t6@x2.png 2x"/>
 		</span>
       Tottenham Hotspur</a>
     </td>
     <td class="mainStat text-centre">480</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>6.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/11/Manchester-City/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t43.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t43@x2.png 2x"/>
 		</span>
       Manchester City</a>
     </td>
     <td class="mainStat text-centre">444</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>7.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/7/Everton/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t11.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t11@x2.png 2x"/>
 		</span>
       Everton</a>
     </td>
     <td class="mainStat text-centre">407</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>8.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/23/Newcastle-United/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t4.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t4@x2.png 2x"/>
 		</span>
       Newcastle United</a>
     </td>
     <td class="mainStat text-centre">369</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>9.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/2/Aston-Villa/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t7.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t7@x2.png 2x"/>
 		</span>
       Aston Villa</a>
     </td>
     <td class="mainStat text-centre">341</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>10.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/25/West-Ham-United/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t21.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t21@x2.png 2x"/>
 		</span>
       West Ham United</a>
     </td>
     <td class="mainStat text-centre">319</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>11.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/20/Southampton/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t20.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t20@x2.png 2x"/>
 		</span>
       Southampton</a>
     </td>
     <td class="mainStat text-centre">265</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>12.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/3/Blackburn-Rovers/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t5.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t5@x2.png 2x"/>
 		</span>
       Blackburn Rovers</a>
     </td>
     <td class="mainStat text-centre">262</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>13.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/9/Leeds-United/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t2.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t2@x2.png 2x"/>
 		</span>
       Leeds United</a>
     </td>
     <td class="mainStat text-centre">207</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>14.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/26/Leicester-City/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t13.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t13@x2.png 2x"/>
 		</span>
       Leicester City</a>
     </td>
     <td class="mainStat text-centre">195</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>15.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/13/Middlesbrough/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t25.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t25@x2.png 2x"/>
 		</span>
       Middlesbrough</a>
     </td>
     <td class="mainStat text-centre">165</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>16.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/34/Fulham/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t54.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t54@x2.png 2x"/>
 		</span>
       Fulham</a>
     </td>
     <td class="mainStat text-centre">162</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>17.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/29/Sunderland/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t56.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t56@x2.png 2x"/>
 		</span>
       Sunderland</a>
     </td>
     <td class="mainStat text-centre">153</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>18.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/27/Bolton-Wanderers/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t30.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t30@x2.png 2x"/>
 		</span>
       Bolton Wanderers</a>
     </td>
     <td class="mainStat text-centre">149</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>19.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/6/Crystal-Palace/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t31.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t31@x2.png 2x"/>
 		</span>
       Crystal Palace</a>
     </td>
     <td class="mainStat text-centre">134</td>
     <td> </td>
   </tr>

   <tr class="">
     <td>20.</td>
     <td scope="row">
       <a class="playerName" href="/clubs/36/West-Bromwich-Albion/overview">
 		<span class="badge badge-image-container" data-size="25" data-widget="club-badge-image">
 			<img class="badge-image badge-image--25 js-badge-image" src="https://resources.premierleague.com/premierleague/badges/25/t35.png" srcset="https://resources.premierleague.com/premierleague/badges/25/t35@x2.png 2x"/>
 		</span>
       West Bromwich Albion</a>
     </td>
     <td class="mainStat text-centre">117</td>
     <td> </td>
   </tr>
         </tbody>
       </table>]

In [40]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [45]:
soup = BeautifulSoup(data,"html5lib")

In [46]:
 #find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [47]:
len(tables)

26

In [22]:
tables

[<table border="1" class="main-table">
    <tbody><tr>
       <td>Number </td>
       <td>Color</td>
       <td>Color Name</td>
       <td>Hex Code<br/>#RRGGBB</td>
       <td>Decimal Code<br/>(R,G,B)</td>
    </tr>
    <tr>
       <td>1</td>
       <td style="background:lightsalmon;"> </td>
       <td>lightsalmon</td>
       <td>#FFA07A</td>
       <td>rgb(255,160,122)</td>
    </tr>
    <tr>
       <td>2</td>
       <td style="background:salmon;"> </td>
       <td>salmon</td>
       <td>#FA8072</td>
       <td>rgb(250,128,114)</td>
    </tr>
    <tr>
       <td>3</td>
       <td style="background:darksalmon;"> </td>
       <td>darksalmon</td>
       <td>#E9967A</td>
       <td>rgb(233,150,122)</td>
    </tr>
    <tr>
       <td>4</td>
       <td style="background:lightcoral;"> </td>
       <td>lightcoral</td>
       <td>#F08080</td>
       <td>rgb(240,128,128)</td>
    </tr>
    <tr>
       <td>5</td>
       <td style="background:coral;"> </td>
       <td>coral</td>
       <td>#FF7F50</td>
       <td>rgb(255,127,80)</td>
    </tr>
    <tr>
       <td>6</td>
       <td style="background:tomato;"> </td>
       <td>tomato</td>
       <td>#FF6347</td>
       <td>rgb(255,99,71)</td>
    </tr>
    <tr>
       <td>7</td>
       <td style="background:orangered;"> </td>
       <td>orangered</td>
       <td>#FF4500</td>
       <td>rgb(255,69,0)</td>
    </tr>
    <tr>
       <td>8</td>
       <td style="background:gold;"> </td>
       <td>gold</td>
       <td>#FFD700</td>
       <td>rgb(255,215,0)</td>
    </tr>
    <tr>
       <td>9</td>
       <td style="background:orange;"> </td>
       <td>orange</td>
       <td>#FFA500</td>
       <td>rgb(255,165,0)</td>
    </tr>
    <tr>
       <td>10</td>
       <td style="background:darkorange;"> </td>
       <td>darkorange</td>
       <td>#FF8C00</td>
       <td>rgb(255,140,0)</td>
    </tr>
    <tr>
       <td>11</td>
       <td style="background:lightyellow;"> </td>
       <td>lightyellow</td>
       <td>#FFFFE0</td>
       <td>rgb(255,255,224)</td>
    </tr>
    <tr>
       <td>12</td>
       <td style="background:lemonchiffon;"> </td>
       <td>lemonchiffon</td>
       <td>#FFFACD</td>
       <td>rgb(255,250,205)</td>
    </tr>
    <tr>
       <td>13</td>
       <td style="background:papayawhip;"> </td>
       <td>papayawhip</td>
       <td>#FFEFD5</td>
       <td>rgb(255,239,213)</td>
    </tr>
    <tr>
       <td>14</td>
       <td style="background:moccasin;"> </td>
       <td>moccasin</td>
       <td>#FFE4B5</td>
       <td>rgb(255,228,181)</td>
    </tr>
    <tr>
       <td>15</td>
       <td style="background:peachpuff;"> </td>
       <td>peachpuff</td>
       <td>#FFDAB9</td>
       <td>rgb(255,218,185)</td>
    </tr>
    <tr>
       <td>16</td>
       <td style="background:palegoldenrod;"> </td>
       <td>palegoldenrod</td>
       <td>#EEE8AA</td>
       <td>rgb(238,232,170)</td>
    </tr>
    <tr>
       <td>17</td>
       <td style="background:khaki;"> </td>
       <td>khaki</td>
       <td>#F0E68C</td>
       <td>rgb(240,230,140)</td>
    </tr>
    <tr>
       <td>18</td>
       <td style="background:darkkhaki;"> </td>
       <td>darkkhaki</td>
       <td>#BDB76B</td>
       <td>rgb(189,183,107)</td>
    </tr>
    <tr>
       <td>19</td>
       <td style="background:yellow;"> </td>
       <td>yellow</td>
       <td>#FFFF00</td>
       <td>rgb(255,255,0)</td>
    </tr>
    <tr>
       <td>20</td>
       <td style="background:lawngreen;"> </td>
       <td>lawngreen</td>
       <td>#7CFC00</td>
       <td>rgb(124,252,0)</td>
    </tr>
    <tr>
       <td>21</td>
       <td style="background:chartreuse;"> </td>
       <td>chartreuse</td>
       <td>#7FFF00</td>
       <td>rgb(127,255,0)</td>
    </tr>
    <tr>
       <td>22</td>
       <td style="background:limegreen;"> </td>
       <td>limegreen</td>
       <td>#32CD32</td>
       <td>rgb(50,205,50)</td>
    </tr>
    <tr>
       <td>23</td>
       <td style="background:lime;"> </td>
       <td>lime</td>
       <td>#00FF00</td>
       <td>rgb(0.255.0)</td>
    </tr>
    <tr>
       <td>24</td>
       <td style="background:forestgreen;"> </td>
       <td>forestgreen</td>
       <td>#228B22</td>
       <td>rgb(34,139,34)</td>
    </tr>
    <tr>
       <td>25</td>
       <td style="background:green;"> </td>
       <td>green</td>
       <td>#008000</td>
       <td>rgb(0,128,0)</td>
    </tr>
    <tr>
       <td>26</td>
       <td style="background:powderblue;"> </td>
       <td>powderblue</td>
       <td>#B0E0E6</td>
       <td>rgb(176,224,230)</td>
    </tr>
    <tr>
       <td>27</td>
       <td style="background:lightblue;"> </td>
       <td>lightblue</td>
       <td>#ADD8E6</td>
       <td>rgb(173,216,230)</td>
    </tr>
    <tr>
       <td>28</td>
       <td style="background:lightskyblue;"> </td>
       <td>lightskyblue</td>
       <td>#87CEFA</td>
       <td>rgb(135,206,250)</td>
    </tr>
    <tr>
       <td>29</td>
       <td style="background:skyblue;"> </td>
       <td>skyblue</td>
       <td>#87CEEB</td>
       <td>rgb(135,206,235)</td>
    </tr>
    <tr>
       <td>30</td>
       <td style="background:deepskyblue;"> </td>
       <td>deepskyblue</td>
       <td>#00BFFF</td>
       <td>rgb(0,191,255)</td>
    </tr>
    <tr>
       <td>31</td>
       <td style="background:lightsteelblue;"> </td>
       <td>lightsteelblue</td>
       <td>#B0C4DE</td>
       <td>rgb(176,196,222)</td>
    </tr>
    <tr>
       <td>32</td>
       <td style="background:dodgerblue;"> </td>
       <td>dodgerblue</td>
       <td>#1E90FF</td>
       <td>rgb(30,144,255)</td>
    </tr>
 </tbody></table>]

In [48]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index

In [49]:
print(table_index)

5

In [50]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="2880" data-file-width="4320" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    170,800,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,186
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,600,000
   </td>
   <td>
    41,526
   </td>
   <td>
    424
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,360,000
   </td>
   <td>
    22,072
   </td>
   <td>
    424
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,377,930,000
   </td>
   <td>
    3,287,240
   </td>
   <td>
    419
   </td>
  </tr>
 </tbody>
</table>

In [51]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank       Country     Population       Area Density
0    1     Singapore      5,704,000        710   8,033
1    2    Bangladesh    170,800,000    143,998   1,186
2    3       Lebanon      6,856,000     10,452     656
3    4        Taiwan     23,604,000     36,193     652
4    5   South Korea     51,781,000     99,538     520
5    6        Rwanda     12,374,000     26,338     470
6    7         Haiti     11,578,000     27,065     428
7    8   Netherlands     17,600,000     41,526     424
8    9        Israel      9,360,000     22,072     424
9   10         India  1,377,930,000  3,287,240     419

In [52]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   170800000     143998              1186
 2     3      Lebanon     6856000      10452               656
 3     4       Taiwan    23604000      36193               652
 4     5  South Korea    51781000      99538               520
 5     6       Rwanda    12374000      26338               470
 6     7        Haiti    11578000      27065               428
 7     8  Netherlands    17600000      41526               424
 8     9       Israel     9360000      22072               424
 9    10        India  1377930000    3287240               419]

In [54]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170800000     143998              1186
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17600000      41526               424
8     9       Israel     9360000      22072               424
9    10        India  1377930000    3287240               419

In [55]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [56]:
len(dataframe_list)

26

In [58]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170800000     143998              1186
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17600000      41526               424
8     9       Israel     9360000      22072               424
9    10        India  1377930000    3287240               419

In [59]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170800000     143998              1186
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17600000      41526               424
8     9       Israel     9360000      22072               424
9    10        India  1377930000    3287240               419